<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>addbuff_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,470},{231,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,154}}</string>
                <key>sourceSize</key>
                <string>{231,154}</string>
            </dict>
            <key>addbuff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{231,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,154}}</string>
                <key>sourceSize</key>
                <string>{231,154}</string>
            </dict>
            <key>addbuff_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,314},{231,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,154}}</string>
                <key>sourceSize</key>
                <string>{231,154}</string>
            </dict>
            <key>addbuff_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{231,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,154}}</string>
                <key>sourceSize</key>
                <string>{231,154}</string>
            </dict>
            <key>addbuff_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,158},{231,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,154}}</string>
                <key>sourceSize</key>
                <string>{231,154}</string>
            </dict>
            <key>addbuff_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{231,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,154}}</string>
                <key>sourceSize</key>
                <string>{231,154}</string>
            </dict>
            <key>addbuff_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{231,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,154}}</string>
                <key>sourceSize</key>
                <string>{231,154}</string>
            </dict>
            <key>addbuff_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{231,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,154}}</string>
                <key>sourceSize</key>
                <string>{231,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>addbuff.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecde992174edbc29eef048f795a150da$</string>
            <key>textureFileName</key>
            <string>addbuff.png</string>
        </dict>
    </dict>
</plist>
