<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fashi_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,472},{112,134}}</string>
                <key>offset</key>
                <string>{-12,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,151},{112,134}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{174,192}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,113},{174,192}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_fire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,814},{192,204}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,95},{192,204}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_fire_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{192,234}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,78},{192,234}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_fire_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,570},{198,240}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,62},{198,240}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_fire_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,812},{192,238}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,64},{192,238}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_fire_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{160,246}}</string>
                <key>offset</key>
                <string>{-6,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,45},{160,246}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_fire_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,570},{152,242}}</string>
                <key>offset</key>
                <string>{-11,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,46},{152,242}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_fire_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{152,240}}</string>
                <key>offset</key>
                <string>{-11,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,49},{152,240}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_fire_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,240},{152,236}}</string>
                <key>offset</key>
                <string>{-11,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,49},{152,236}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_fire_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{152,236}}</string>
                <key>offset</key>
                <string>{-11,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,49},{152,236}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_fire_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,196},{152,234}}</string>
                <key>offset</key>
                <string>{-11,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,54},{152,234}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_fire_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,432},{152,232}}</string>
                <key>offset</key>
                <string>{-11,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,56},{152,232}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_fire_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{152,240}}</string>
                <key>offset</key>
                <string>{-11,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,49},{152,240}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_fire_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,244},{152,236}}</string>
                <key>offset</key>
                <string>{-11,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,49},{152,236}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_fire_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,238},{152,232}}</string>
                <key>offset</key>
                <string>{-11,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,53},{152,232}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_fire_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,292}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,13},{174,292}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_fire_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{172,282}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,14},{172,282}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_fire_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,296},{182,272}}</string>
                <key>offset</key>
                <string>{-1,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,13},{182,272}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_fire_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{184,272}}</string>
                <key>offset</key>
                <string>{-1,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,13},{184,272}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fashi_fire.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce3c6154d376207fae57ee8bf851486f$</string>
            <key>textureFileName</key>
            <string>fashi_fire.png</string>
        </dict>
    </dict>
</plist>
