<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fashi_thunder_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,92}}</string>
                <key>offset</key>
                <string>{-15,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,64},{232,92}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_thunder_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,454},{158,70}}</string>
                <key>offset</key>
                <string>{-10,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,69},{158,70}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_thunder_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,524},{140,76}}</string>
                <key>offset</key>
                <string>{-14,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,62},{140,76}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_thunder_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{126,74}}</string>
                <key>offset</key>
                <string>{-12,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,66},{126,74}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_thunder_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{122,90}}</string>
                <key>offset</key>
                <string>{-13,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,57},{122,90}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_thunder_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,602},{80,74}}</string>
                <key>offset</key>
                <string>{-4,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,66},{80,74}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_thunder_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,756},{82,86}}</string>
                <key>offset</key>
                <string>{-8,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,63},{82,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_thunder_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{170,164}}</string>
                <key>offset</key>
                <string>{-4,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,25},{170,164}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_thunder_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{122,110}}</string>
                <key>offset</key>
                <string>{-7,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,44},{122,110}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_thunder_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,168},{120,108}}</string>
                <key>offset</key>
                <string>{-7,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,52},{120,108}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_thunder_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,602},{116,124}}</string>
                <key>offset</key>
                <string>{-12,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,53},{116,124}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_thunder_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,888},{114,112}}</string>
                <key>offset</key>
                <string>{-3,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,64},{114,112}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_thunder_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{122,110}}</string>
                <key>offset</key>
                <string>{-7,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,69},{122,110}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_thunder_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,644},{122,110}}</string>
                <key>offset</key>
                <string>{-7,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,59},{122,110}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_thunder_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,278},{118,126}}</string>
                <key>offset</key>
                <string>{-3,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,36},{118,126}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_thunder_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,770},{116,116}}</string>
                <key>offset</key>
                <string>{-12,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,34},{116,116}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_thunder_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,526},{116,128}}</string>
                <key>offset</key>
                <string>{-3,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,39},{116,128}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_thunder_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,406},{116,128}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,112},{116,128}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_thunder_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,894},{116,116}}</string>
                <key>offset</key>
                <string>{-12,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,189},{116,116}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_thunder_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,286},{182,166}}</string>
                <key>offset</key>
                <string>{-16,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,156},{182,166}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_thunder_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,286},{182,166}}</string>
                <key>offset</key>
                <string>{-16,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,156},{182,166}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_thunder_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{196,164}}</string>
                <key>offset</key>
                <string>{-17,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,153},{196,164}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_thunder_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{206,164}}</string>
                <key>offset</key>
                <string>{-14,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,149},{206,164}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_thunder_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{186,152}}</string>
                <key>offset</key>
                <string>{-5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,150},{186,152}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fashi_thunder_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,168},{188,116}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,148},{188,116}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fashi_thunder.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a7869b752cae354b7a1d9716e75b9e7$</string>
            <key>textureFileName</key>
            <string>fashi_thunder.png</string>
        </dict>
    </dict>
</plist>
