<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heart_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,884},{94,100}}</string>
                <key>offset</key>
                <string>{246,-153}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{518,331},{94,100}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
            <key>heart_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,292},{88,94}}</string>
                <key>offset</key>
                <string>{246,-146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{521,327},{88,94}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
            <key>heart_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{94,100}}</string>
                <key>offset</key>
                <string>{244,-146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{516,324},{94,100}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
            <key>heart_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,518},{98,104}}</string>
                <key>offset</key>
                <string>{246,-152}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{516,328},{98,104}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
            <key>heart_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{104,110}}</string>
                <key>offset</key>
                <string>{245,-151}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{512,324},{104,110}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
            <key>heart_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,680},{106,108}}</string>
                <key>offset</key>
                <string>{246,-154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{512,328},{106,108}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
            <key>heart_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,660},{112,114}}</string>
                <key>offset</key>
                <string>{246,-154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{509,325},{112,114}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
            <key>heart_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,624},{116,118}}</string>
                <key>offset</key>
                <string>{246,-154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{507,323},{116,118}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
            <key>heart_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,558},{120,122}}</string>
                <key>offset</key>
                <string>{246,-154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{505,321},{120,122}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
            <key>heart_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,534},{124,128}}</string>
                <key>offset</key>
                <string>{247,-154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{504,318},{124,128}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
            <key>heart_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,426},{130,130}}</string>
                <key>offset</key>
                <string>{247,-154}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{501,317},{130,130}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
            <key>heart_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,400},{132,136}}</string>
                <key>offset</key>
                <string>{246,-154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{499,314},{132,136}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
            <key>heart_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,150},{138,140}}</string>
                <key>offset</key>
                <string>{246,-154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{496,312},{138,140}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
            <key>heart_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,148},{142,144}}</string>
                <key>offset</key>
                <string>{246,-154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{494,310},{142,144}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
            <key>heart_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{146,148}}</string>
                <key>offset</key>
                <string>{246,-154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{492,308},{146,148}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
            <key>heart_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{138,136}}</string>
                <key>offset</key>
                <string>{247,-151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{497,311},{138,136}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
            <key>heart_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{142,138}}</string>
                <key>offset</key>
                <string>{246,-153}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{494,312},{142,138}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
            <key>heart_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{144,146}}</string>
                <key>offset</key>
                <string>{247,-152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{494,307},{144,146}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
            <key>heart_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,152}}</string>
                <key>offset</key>
                <string>{246,-152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{492,304},{146,152}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
            <key>heart_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,292},{132,136}}</string>
                <key>offset</key>
                <string>{236,-144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{489,304},{132,136}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
            <key>heart_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,290},{108,138}}</string>
                <key>offset</key>
                <string>{249,-144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{514,303},{108,138}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
            <key>heart_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{100,136}}</string>
                <key>offset</key>
                <string>{244,-145}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{513,305},{100,136}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
            <key>heart_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{102,126}}</string>
                <key>offset</key>
                <string>{244,-137}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{512,302},{102,126}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
            <key>heart_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,388},{78,128}}</string>
                <key>offset</key>
                <string>{257,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{537,300},{78,128}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
            <key>heart_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{70,132}}</string>
                <key>offset</key>
                <string>{262,-135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{546,297},{70,132}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
            <key>heart_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{70,102}}</string>
                <key>offset</key>
                <string>{262,-119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{546,296},{70,102}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
            <key>heart_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,774},{70,104}}</string>
                <key>offset</key>
                <string>{262,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{546,294},{70,104}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
            <key>heart_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,14},{10,50}}</string>
                <key>offset</key>
                <string>{263,-145}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{577,348},{10,50}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
            <key>heart_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{10,52}}</string>
                <key>offset</key>
                <string>{263,-145}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{577,347},{10,52}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
            <key>heart_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,26},{6,6}}</string>
                <key>offset</key>
                <string>{265,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{581,345},{6,6}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
            <key>heart_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{1,1}}</string>
                <key>offset</key>
                <string>{-318.5,227.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
            <key>heart_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{1,1}}</string>
                <key>offset</key>
                <string>{-318.5,227.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{638,456}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heart.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19ec22ff1320019a8d21de6f3db7e208$</string>
            <key>textureFileName</key>
            <string>heart.png</string>
        </dict>
    </dict>
</plist>
