<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{478,532}}</string>
                <key>offset</key>
                <string>{0,214}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{478,532}}</string>
                <key>sourceSize</key>
                <string>{480,960}</string>
            </dict>
            <key>ice_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,169},{16,9}}</string>
                <key>offset</key>
                <string>{-103,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,193},{16,9}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
            <key>ice_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,508},{40,17}}</string>
                <key>offset</key>
                <string>{-95,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,190},{40,17}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
            <key>ice_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,804},{58,33}}</string>
                <key>offset</key>
                <string>{-91,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,175},{58,33}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
            <key>ice_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,740},{62,37}}</string>
                <key>offset</key>
                <string>{-89,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,172},{62,37}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
            <key>ice_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1067},{90,49}}</string>
                <key>offset</key>
                <string>{-74,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,161},{90,49}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
            <key>ice_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,971},{98,49}}</string>
                <key>offset</key>
                <string>{-70,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,162},{98,49}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
            <key>ice_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,1179},{104,67}}</string>
                <key>offset</key>
                <string>{-67,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,147},{104,67}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
            <key>ice_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,1179},{148,71}}</string>
                <key>offset</key>
                <string>{-45,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,145},{148,71}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
            <key>ice_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1070},{172,79}}</string>
                <key>offset</key>
                <string>{-32,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,137},{172,79}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
            <key>ice_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,965},{176,103}}</string>
                <key>offset</key>
                <string>{-30,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,118},{176,103}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
            <key>ice_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,379},{180,127}}</string>
                <key>offset</key>
                <string>{-28,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,96},{180,127}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
            <key>ice_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,244},{180,133}}</string>
                <key>offset</key>
                <string>{-28,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,90},{180,133}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
            <key>ice_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,830},{178,139}}</string>
                <key>offset</key>
                <string>{-27,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,84},{178,139}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
            <key>ice_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,508},{178,141}}</string>
                <key>offset</key>
                <string>{-27,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,82},{178,141}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
            <key>ice_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1067},{178,121}}</string>
                <key>offset</key>
                <string>{-27,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,102},{178,121}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
            <key>ice_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,965},{164,121}}</string>
                <key>offset</key>
                <string>{-20,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,102},{164,121}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
            <key>ice_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1056},{152,121}}</string>
                <key>offset</key>
                <string>{-14,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,102},{152,121}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
            <key>ice_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1131},{146,121}}</string>
                <key>offset</key>
                <string>{-11,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,102},{146,121}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
            <key>ice_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,707},{270,215}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{270,215}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
            <key>ice_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{284,223}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{284,223}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
            <key>ice_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,515},{280,223}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{280,223}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
            <key>ice_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,740},{262,223}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{262,223}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
            <key>ice_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,482},{244,223}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{244,223}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
            <key>ice_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,868},{228,223}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{228,223}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
            <key>ice_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,651},{202,177}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,46},{202,177}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
            <key>ice_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,971},{156,83}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,126},{156,83}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
            <key>ice_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{260,141}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,79},{260,141}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
            <key>ice_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,350},{286,163}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,67},{286,163}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
            <key>ice_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,169},{302,179}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,60},{302,179}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
            <key>ice_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{314,165}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{314,165}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
            <key>ice_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{240,169}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,48},{240,169}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
            <key>ice_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,707},{232,159}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,57},{232,159}}</string>
                <key>sourceSize</key>
                <string>{314,239}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ice.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:969aa560b0e264e07a5ddfec99dbaa15$</string>
            <key>textureFileName</key>
            <string>ice.png</string>
        </dict>
    </dict>
</plist>
