<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,2},{259,246}}</string>
                <key>offset</key>
                <string>{123,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,263},{259,246}}</string>
                <key>sourceSize</key>
                <string>{545,610}</string>
            </dict>
            <key>magic_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,731},{291,290}}</string>
                <key>offset</key>
                <string>{96,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,243},{291,290}}</string>
                <key>sourceSize</key>
                <string>{545,610}</string>
            </dict>
            <key>magic_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,731},{291,322}}</string>
                <key>offset</key>
                <string>{96,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,239},{291,322}}</string>
                <key>sourceSize</key>
                <string>{545,610}</string>
            </dict>
            <key>magic_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,2},{327,336}}</string>
                <key>offset</key>
                <string>{89,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,244},{327,336}}</string>
                <key>sourceSize</key>
                <string>{545,610}</string>
            </dict>
            <key>magic_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{339,364}}</string>
                <key>offset</key>
                <string>{89,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,235},{339,364}}</string>
                <key>sourceSize</key>
                <string>{545,610}</string>
            </dict>
            <key>magic_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{345,380}}</string>
                <key>offset</key>
                <string>{92,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,230},{345,380}}</string>
                <key>sourceSize</key>
                <string>{545,610}</string>
            </dict>
            <key>magic_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,384},{345,340}}</string>
                <key>offset</key>
                <string>{99,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,227},{345,340}}</string>
                <key>sourceSize</key>
                <string>{545,610}</string>
            </dict>
            <key>magic_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{259,340}}</string>
                <key>offset</key>
                <string>{143,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,229},{259,340}}</string>
                <key>sourceSize</key>
                <string>{545,610}</string>
            </dict>
            <key>magic_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1011},{1,1}}</string>
                <key>offset</key>
                <string>{-272,304.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{545,610}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14d0a9812133e54d8ba65b88fab15aa8$</string>
            <key>textureFileName</key>
            <string>magic.png</string>
        </dict>
    </dict>
</plist>
