<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>poison_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,170},{43,34}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,66},{43,34}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>poison_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,289},{45,58}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,52},{45,58}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>poison_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,461},{47,58}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,49},{47,58}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>poison_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,457},{51,62}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,43},{51,62}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>poison_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,457},{53,62}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,42},{53,62}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>poison_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,360},{59,64}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,38},{59,64}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>poison_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,387},{63,68}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,35},{63,68}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>poison_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,387},{67,72}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,31},{67,72}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>poison_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{71,74}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,30},{71,74}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>poison_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{71,74}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,30},{71,74}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>poison_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,256},{71,76}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,24},{71,76}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>poison_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,289},{69,76}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,23},{69,76}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>poison_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,316},{69,74}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,23},{69,74}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>poison_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,216},{71,80}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{71,80}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>poison_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,252},{75,78}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{75,78}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>poison_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,170},{81,80}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{81,80}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>poison_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,230},{87,84}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{87,84}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>poison_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,166},{93,88}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{93,88}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>poison_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{99,88}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{99,88}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>poison_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,88}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{107,88}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>poison_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{105,86}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{105,86}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>poison_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{107,82}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{107,82}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>poison_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{107,80}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{107,80}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>poison_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,84},{105,80}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{105,80}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>poison_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,90},{105,78}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{105,78}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>poison_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,109},{105,76}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{105,76}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>poison_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{105,74}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{105,74}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>poison_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,86},{103,72}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{103,72}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>poison_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{103,70}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{103,70}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>poison_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,160},{103,68}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{103,68}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>poison_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{101,60}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{101,60}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>poison_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,86},{1,1}}</string>
                <key>offset</key>
                <string>{-56,54.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poison.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63cdf5bdd924916e795ebb869a01a0a9$</string>
            <key>textureFileName</key>
            <string>poison.png</string>
        </dict>
    </dict>
</plist>
