<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/BaseMoney/501.png</key>
			<dict>
				<key>frame</key>
				<string>{{2003,1},{44,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,48}</string>
			</dict>
			<key>res/BaseMoney/502.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,1376},{47,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,44}</string>
			</dict>
			<key>res/BaseMoney/998.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,2005},{47,41}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,44}</string>
			</dict>
			<key>res/BaseMoney/Score.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,640},{47,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,50}</string>
			</dict>
			<key>res/BottomButton/Achievement.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,1},{148,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,154}</string>
			</dict>
			<key>res/BottomButton/Friend.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,169},{154,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>res/BottomButton/Mail.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,1},{160,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,154}</string>
			</dict>
			<key>res/BottomButton/Notify.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,151},{129,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,153}</string>
			</dict>
			<key>res/BottomButton/Setup.png</key>
			<dict>
				<key>frame</key>
				<string>{{1724,1252},{139,155}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,158}</string>
			</dict>
			<key>res/BottomButton/Shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{1419,1536},{162,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,155}</string>
			</dict>
			<key>res/ColorFrame/ColorFrame1.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,330},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
			<key>res/ColorFrame/ColorFrameBg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,201},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>res/ColorFrame/ColorFrame6.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,163},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
			<key>res/ColorFrame/ColorFrameBg6.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,343},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>res/ColorFrame/ColorFrame5.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,1},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
			<key>res/ColorFrame/ColorFrameBg5.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,485},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>res/ColorFrame/ColorFrameEmpty.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,699},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
			<key>res/ColorFrame/ColorFrameBgEmpty.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,627},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>res/ColorFrame/ColorFrame3.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,485},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
			<key>res/ColorFrame/ColorFrameBg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,769},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>res/ColorFrame/ColorFrame2.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,318},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
			<key>res/ColorFrame/ColorFrameBg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,852},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>res/ColorFrame/ColorFrameLock.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,769},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>res/ColorFrame/ColorFrame4.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,156},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
			<key>res/ColorFrame/ColorFrameBg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,911},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>res/Common/Add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1852,1439},{98,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,95}</string>
			</dict>
			<key>res/Common/AddVas.png</key>
			<dict>
				<key>frame</key>
				<string>{{1860,1987},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/Text/BuyText.png</key>
			<dict>
				<key>frame</key>
				<string>{{1868,1101},{167,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{167,59}</string>
			</dict>
			<key>res/Common/TitleBg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,1376},{711,174}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{714,174}</string>
			</dict>
			<key>res/Common/Cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1153,466},{264,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,120}</string>
			</dict>
			<key>res/Text/CancelText.png</key>
			<dict>
				<key>frame</key>
				<string>{{1722,1579},{165,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,58}</string>
			</dict>
			<key>res/Common/Close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1534,1066},{104,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,106}</string>
			</dict>
			<key>res/Common/Common.png</key>
			<dict>
				<key>frame</key>
				<string>{{1153,732},{264,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,120}</string>
			</dict>
			<key>res/Common/CutLine.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2005},{367,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{367,6}</string>
			</dict>
			<key>res/Common/Dec.png</key>
			<dict>
				<key>frame</key>
				<string>{{1033,104},{98,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,95}</string>
			</dict>
			<key>res/Common/Good.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,2005},{42,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,37}</string>
			</dict>
			<key>res/Common/GoodCancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,2005},{42,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,37}</string>
			</dict>
			<key>res/Common/TitleBg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,1703},{533,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{533,62}</string>
			</dict>
			<key>res/Common/Mark.png</key>
			<dict>
				<key>frame</key>
				<string>{{1202,1224},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/Common/MarkSmall.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,2013},{33,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,32}</string>
			</dict>
			<key>res/Common/Time.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,640},{45,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,51}</string>
			</dict>
			<key>res/Instance/InstacneMap.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,306},{96,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,94}</string>
			</dict>
			<key>res/Instance/InstacnePassView.png</key>
			<dict>
				<key>frame</key>
				<string>{{1708,917},{186,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,168}</string>
			</dict>
			<key>res/Text/InstanceDifficulty.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,1994},{86,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,48}</string>
			</dict>
			<key>res/Text/InstanceDifficultyChoose.png</key>
			<dict>
				<key>frame</key>
				<string>{{1889,1536},{86,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,48}</string>
			</dict>
			<key>res/Instance/InstanceDrop.png</key>
			<dict>
				<key>frame</key>
				<string>{{1943,1972},{73,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,76}</string>
			</dict>
			<key>res/Text/InstanceEasy.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,657},{86,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,48}</string>
			</dict>
			<key>res/Text/InstanceEasyChoose.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,657},{86,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,48}</string>
			</dict>
			<key>res/UiFrame/BoxNormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,1552},{731,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{731,149}</string>
			</dict>
			<key>res/UiFrame/BoxChoose.png</key>
			<dict>
				<key>frame</key>
				<string>{{1221,1703},{731,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{731,149}</string>
			</dict>
			<key>res/Text/InstanceMapTitleText.png</key>
			<dict>
				<key>frame</key>
				<string>{{1167,1953},{309,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{309,90}</string>
			</dict>
			<key>res/Text/InstanceNormalChoose.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,649},{86,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,48}</string>
			</dict>
			<key>res/Text/InstancePackage.png</key>
			<dict>
				<key>frame</key>
				<string>{{1865,1270},{167,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{167,59}</string>
			</dict>
			<key>res/Instance/InstanceRoad.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,736},{546,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{546,287}</string>
			</dict>
			<key>res/Instance/InstanceSearching.png</key>
			<dict>
				<key>frame</key>
				<string>{{1758,1148},{102,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,104}</string>
			</dict>
			<key>res/Text/InstanceSearchingAward.png</key>
			<dict>
				<key>frame</key>
				<string>{{1153,1304},{222,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,59}</string>
			</dict>
			<key>res/Text/InstanceSearchingMax.png</key>
			<dict>
				<key>frame</key>
				<string>{{1643,620},{232,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,63}</string>
			</dict>
			<key>res/Instance/InstanceSearchingNum.png</key>
			<dict>
				<key>frame</key>
				<string>{{1553,879},{148,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,70}</string>
			</dict>
			<key>res/Text/InstanceSearchingResult.png</key>
			<dict>
				<key>frame</key>
				<string>{{1643,854},{232,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,63}</string>
			</dict>
			<key>res/Instance/InstanceStar.png</key>
			<dict>
				<key>frame</key>
				<string>{{2003,101},{47,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,44}</string>
			</dict>
			<key>res/Instance/InstanceStarLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{2003,150},{47,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,44}</string>
			</dict>
			<key>res/Instance/InstanceStrategy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1943,1854},{116,99}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,99}</string>
			</dict>
			<key>res/Text/InstanceStrategySay.png</key>
			<dict>
				<key>frame</key>
				<string>{{1275,707},{231,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,64}</string>
			</dict>
			<key>res/Text/InstanceStrategyText.png</key>
			<dict>
				<key>frame</key>
				<string>{{1642,1088},{224,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,58}</string>
			</dict>
			<key>res/Text/InstanceStrengthen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1377,1260},{222,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,59}</string>
			</dict>
			<key>res/Instance/InstanceWarning.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,1284},{765,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{765,90}</string>
			</dict>
			<key>res/MainButton/Activity.png</key>
			<dict>
				<key>frame</key>
				<string>{{1399,1372},{182,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,162}</string>
			</dict>
			<key>res/MainButton/Challenge.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,492},{146,163}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,164}</string>
			</dict>
			<key>res/MainButton/Home.png</key>
			<dict>
				<key>frame</key>
				<string>{{1583,1496},{137,148}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,149}</string>
			</dict>
			<key>res/MainButton/Instance.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,1},{150,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,166}</string>
			</dict>
			<key>res/MainButton/Lottery.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,330},{152,160}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,162}</string>
			</dict>
			<key>res/MainButton/Poker.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,1900},{146,156}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,156}</string>
			</dict>
			<key>res/MainButton/Smelt.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,492},{155,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,152}</string>
			</dict>
			<key>res/MainButton/TabDisable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1708,730},{185,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,210}</string>
			</dict>
			<key>res/MainButton/TabEnable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1708,529},{199,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{199,210}</string>
			</dict>
			<key>res/MainButton/TabMark.png</key>
			<dict>
				<key>frame</key>
				<string>{{1341,879},{185,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,210}</string>
			</dict>
			<key>res/UiFrame/frame1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1478,1987},{380,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,58}</string>
			</dict>
			<key>res/UiFrame/frame2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1601,1233},{261,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{261,121}</string>
			</dict>
			<key>res/UiFrame/frame3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1153,998},{304,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{304,47}</string>
			</dict>
			<key>res/UiFrame/frame4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1263,1173},{124,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,52}</string>
			</dict>
			<key>res/UiFrame/frame5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1394,314},{304,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{304,312}</string>
			</dict>
			<key>res/UiFrame/frame6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1399,1},{311,311}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{311,311}</string>
			</dict>
			<key>res/UiFrame/frame7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1376,620},{257,265}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,265}</string>
			</dict>
			<key>res/UiFrame/process1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1954,1},{391,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{391,47}</string>
			</dict>
			<key>res/Text/InstanceNormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,649},{86,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,48}</string>
			</dict>
			<key>res/Text/Challenge.png</key>
			<dict>
				<key>frame</key>
				<string>{{1219,1854},{238,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,87}</string>
			</dict>
			<key>res/Text/ChallengeShop.png</key>
			<dict>
				<key>frame</key>
				<string>{{1202,998},{224,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,59}</string>
			</dict>
			<key>res/Text/RuleDesc.png</key>
			<dict>
				<key>frame</key>
				<string>{{1534,1172},{222,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,59}</string>
			</dict>
			<key>res/Text/WorldRank.png</key>
			<dict>
				<key>frame</key>
				<string>{{1954,1420},{243,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{243,66}</string>
			</dict>
			<key>res/UiFrame/frame8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1806},{699,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{699,197}</string>
			</dict>
			<key>res/BaseMoney/135.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,2005},{35,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,46}</string>
			</dict>
			<key>res/Challenge/WorldBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1712,277},{250,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,219}</string>
			</dict>
			<key>res/Challenge/BgBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1724,1409},{126,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,168}</string>
			</dict>
			<key>res/Challenge/ChallengeBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1712,1},{206,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,274}</string>
			</dict>
			<key>res/Challenge/Fight.png</key>
			<dict>
				<key>frame</key>
				<string>{{1033,1},{101,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,101}</string>
			</dict>
			<key>res/Text/PokerAll.png</key>
			<dict>
				<key>frame</key>
				<string>{{1954,910},{254,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{254,66}</string>
			</dict>
			<key>res/Text/PokerBook.png</key>
			<dict>
				<key>frame</key>
				<string>{{1819,1639},{111,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,57}</string>
			</dict>
			<key>res/Text/PokerDelete.png</key>
			<dict>
				<key>frame</key>
				<string>{{1954,394},{256,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,68}</string>
			</dict>
			<key>res/Text/PokerDistractAbility.png</key>
			<dict>
				<key>frame</key>
				<string>{{1954,652},{256,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,66}</string>
			</dict>
			<key>res/Text/PokerFightGroup.png</key>
			<dict>
				<key>frame</key>
				<string>{{1954,1166},{252,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,66}</string>
			</dict>
			<key>res/Text/PokerLottery.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,1900},{305,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{305,92}</string>
			</dict>
			<key>res/Text/PokerLottery1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1286,239},{235,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{235,106}</string>
			</dict>
			<key>res/Text/PokerLottery2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1275,476},{229,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,99}</string>
			</dict>
			<key>res/Text/PokerLottery3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1286,1},{236,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{236,109}</string>
			</dict>
			<key>res/Text/PokerSortColor.png</key>
			<dict>
				<key>frame</key>
				<string>{{1896,917},{182,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,49}</string>
			</dict>
			<key>res/Text/PokerStrengthen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1702,1646},{115,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,49}</string>
			</dict>
			<key>res/Background/LotteryBg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,1767},{131,463}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,463}</string>
			</dict>
			<key>res/Background/LotteryBg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1478,1854},{131,463}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,463}</string>
			</dict>
			<key>res/Background/LotteryBg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1153,1},{131,463}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,463}</string>
			</dict>
			<key>res/Background/InstanceBackground.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,736},{383,683}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{383,683}</string>
			</dict>
			<key>res/Background/InstanceBackground1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1421},{383,683}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{383,683}</string>
			</dict>
			<key>res/Background/PokerBackground.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{414,733}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{419,733}</string>
			</dict>
			<key>res/Text/PokerSortLevel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1167,1767},{184,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,50}</string>
			</dict>
			<key>res/Text/PokerSortScore.png</key>
			<dict>
				<key>frame</key>
				<string>{{1377,1321},{183,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,49}</string>
			</dict>
			<key>res/Text/PokerSortStar.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,1994},{184,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,50}</string>
			</dict>
			<key>res/Text/PokerUpStar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1583,1646},{117,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,50}</string>
			</dict>
			<key>res/Text/InstanceDropText.png</key>
			<dict>
				<key>frame</key>
				<string>{{1275,940},{231,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,63}</string>
			</dict>
			<key>res/Common/PokerLock.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,2005},{37,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,39}</string>
			</dict>
			<key>res/Common/SelectBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,1066},{192,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,192}</string>
			</dict>
			<key>res/UiFrame/frame10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2013},{95,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,26}</string>
			</dict>
			<key>res/UiFrame/frame9.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,2005},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,35}</string>
			</dict>
			<key>res/AttrIcon/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,2005},{42,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>res/AttrIcon/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,2005},{41,48}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>res/AttrIcon/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,473},{47,46}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>res/AttrIcon/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2003,51},{44,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>res/Common/Together.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,2013},{31,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,38}</string>
			</dict>
			<key>res/Text/return.png</key>
			<dict>
				<key>frame</key>
				<string>{{1954,1665},{180,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,62}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>main.png</string>
			<key>realTextureFileName</key>
			<string>main.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>